.navbar{
    background-color: antiquewhite;
    border-radius: 4px;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar li{
    margin: 13px 20px;
    
}
.navbar li a{
    padding: 5px;
    text-decoration: none;
    font-weight: bolder;
}
label {
    
    background-color: rgba(0,0,0,.1);
    border-radius: 100px;
    position: relative;
    margin: 1.8rem 0 4rem 0; 
    cursor: pointer;
  }
  .toggle {
    position: absolute;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .dark {
    opacity: .5;
  }